root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{js,json,eslint}]
charset = utf-8
indent_style = space
indent_size = 2

[*.feature]
charset = utf-8
indent_style = space
indent_size = 4
