{
  "winerack-user": "TODO - replace this with secret winerack username in 'cypress.env.json' ",
  "winerack-password": "TODO - replace this with secret winerack password to 'cypress.env.json' "
}
